html,
body { background-image: url("../90s/cute90's.jpg")
       background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}}