html,
body { background-image: url("http://wwww.zlnicholas.tech/90s/cute90's.jpg");
       background-size: cover;
       width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}