body {
  background-image: url("https://pixabay.com/static/uploads/photo/2013/11/28/09/50/wall-219666_960_720.jpg");
  background-size: cover;
}

.business-card {
  display: block;
  width: 350px;
  height: 190px;
  margin: 250px auto;
  background-color: whitesmoke;
  padding: 15px;
  -webkit-box-shadow: 6px 11px 24px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 6px 11px 24px -1px rgba(0, 0, 0, 0.6);
  box-shadow: 6px 11px 24px -1px rgba(0, 0, 0, 0.6);
  transition: 1.5s ease;
  -moz-transition: 1.5s ease;
  -webkit-transition: 1.5s ease;
  -o-transition: 1.5s ease;
  background-image: url("http://s336220192.mialojamiento.es/archivo/codepen/american-psycho/bone-white.png");
  -ms-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  transform: rotate(10deg);
  text-shadow: 0px 3px 3px rgba(255, 255, 255, 0.5), 0px -1px 1px rgba(0, 0, 0, 0.3);
}

.business-card:hover {
  transform: scale(2);
  -moz-transform: scale(2);
  -webkit-transform: scale(2);
  -o-transform: scale(2);
  -ms-transform: scale(2);
}
.head { Display: inline-block;
        float: left;
        margin:0;}

.logo {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

.name {
}

.nametitle {
  display: inline-block;
  text-align: left;
}
#zee {font-size: 1.5em; padding: 0px 0px 0px 10px;}
#job {font-size: 1.30em; padding: 0px 0px 0px 10px;}

.Work {
  text-align: center;
  display: block;
  font-size: 11px;
  margin-top: 60px;
  margin-left: -8px;
  margin-right: -8px;
}
h3 {margin left: 30px; font-size: 1.5em; text-align: left;}