@import url('http://fonts.googleapis.com/css?family=Advent+Pro'); 

body { font-family: 'advent pro', sans serif; margin:0;
}
.logo {
    width: 200px;
    height: 200px;
    padding-left: 42.75%;
    padding-right: 60%;
    margin; 0;
}
.menu {padding: 30px 30px 0px 0px}
header { height: 1000px; background: url(https://static.pexels.com/photos/6662/creative-smartphone-notebook-typography.jpg) 10px 20px/50px 50px; position: relative;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;
    z-index: -1;
}
header > nav { text-align: right;
               height: 60px; 
               background-color: transparent;
               width: 100%;
               position: fixed;
               padding: 10px 0px 0px 0px;
}
#Online { height: 1000px; 
    position: relative;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;}
#online-title { text-align: center;  font-size:100px; color: #f06eaa;}

#Offline { height: 1000px;
    position: relative;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;}
#offline-title {text-align: center;   font-size:100px; color: #f06eaa;}

#Skills { height: 1000px;
    position: relative;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;}
#skills-title {text-align: center;    font-size:100px; color: #f06eaa;}

#Stalk-me { height: 1000px;
    position: relative;
    width: 100%;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 100%;}
#stalk-me-title {text-align: center;  font-size:100px; color: #f06eaa;}

)))>h1 font-size: 100px; color: #f06eaa; font-family: 'advent pro', sans serif; font-weight: bold; text-transform: uppercase; text-align: center;<(((