body {
	padding: 25px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url('../image/nyc.jpg');
	font-family: 'Hind Siliguri', sans-serif;
}


#logo {
	text-align: center;
}

/*mobile*/
@media (min-width: 150px) {
	#welcome {
		font-weight: bold;
		text-align: center;
		color: white;
		font-size: 40px;
		padding-top: 30px;
	}
}
/*desktop*/
@media (min-width: 900px) {
	#welcome {
		font-weight: bold;
		text-align: center;
		color: white;
		padding-top: 80px;
		font-size: 60px;
	}
}

/*mobile*/
@media (min-width: 150px) {
	#exp {
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 14px;
	}
}

/*desktop*/
@media (min-width: 900px) {
	#exp {
		margin-top: -5px;
		text-align: center;
		color: white;
		text-transform: uppercase;
		font-size: 20px;
	}
}

#quiz {
	border: none;
	color: #938e84;
	background-color: #fffdfa;
	padding: 10px 70px;
	margin: 15px auto;
	font-size: 20px;
}

#suprise {
	border: none;
	background-color: rgb(147,142,132);
	color: #fffdfa;
	padding: 10px 79px;
	font-size: 20px;
}
