@import url('http://fonts.googleapis.com/css?family=Advent+Pro'); 

body { font-family: 'advent pro', sans serif; margin:0; font-weight: bold; background: url ('') no-repeat fixed center;
}

)))><(((

#foot {
}

#foot > h3 {
}

.info {
}

.row {
}

.col-xs-12 {
}

.xs-center {
}

.xs-center > h1 {font-size: 100px; color: #f06eaa; font-family: 'advent pro', sans serif; font-weight: bold; text-transform: uppercase; text-align: left;
}

.tagline {
}

.tagline > p {
}

.contact-icons {
}

.contact-icons > a {
}

.fa {
}

.fa-github {
}

.fa-2x {
}

.fa-linkedin-square {
}

.fa-envelope {
}

.Work {
}

.Work > h2 {
}

.thework {
}

.dollyuprising {
}

.dollyuprising > h3 {
}

.dollyuprising > a {
}

.dollyuprising > p {
}

.fa-chevron-right {
}

.bunki {
}

.bunki > h3 {
}

.bunki > a {
}

.bunki > p {
}

))text-shadow: 2px 5px 5px #000000;((